{{column}}
{{#if sortable}}
  {{#if ascending}}
    <span>
      <a href="#" {{action 'onAscending'}}>Asc</a>
    </span>
  {{/if}}
  {{#if descending}}
    <span>
      <a href="#" {{action 'onDescending'}}>Desc</a>
    </span>
  {{/if}}
  {{#if nosort}}
    <span>
      <a href="#" {{action 'onNoSort'}}>(Click)</a>
    </span>
  {{/if}}
{{/if}}
