<table class={{_class}}>
  <thead>
    <tr>
      {{#each _columnsMap as |item|}}
        {{av-column column=item.label
          sortable=item.sortable
          sortLabel=item.sortLabel
          sortOrder=item.sortOrder
          onSelect=(action 'onColumnSelect')
        }}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each currentPageRecords as |tableRow|}}
      {{yield tableRow}}
    {{/each}}
  </tbody>
</table>
{{av-pagination-ctrl numItems=total
    itemsPerPage=recordsPerPage
    numSkipped=tableParams.skip
    doChangeSkipCount=(action 'onSkipChanged')}}
