<table class={{_class}}>
  <thead>
    <tr>
      {{#each columns as |column|}}
        {{av-column column=column
          sortableColumns=sortableColumns
          onSelect=(action 'onColumnSelect' column)
        }}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{yield this}}
  </tbody>
</table>
