{{#av-table
  columnsMap=columnsMap
  currentPageRecords=model.books
  total=model.total
  tableParams=tableParams
  recordsPerPage=3
  _class='my-table' as |tableRow|}}
  <tr>
    <td>{{tableRow.title}}</td>
    <td>{{tableRow.pages}}</td>
    <td>{{tableRow.price}}</td>
  </tr>
{{/av-table}}
