{{#av-table
  columns=columns
  fields=fields
  sortableColumns=sortableColumns
  data=model.books
  total=model.total
  orderBy=orderBy
  defaultOrderBy=defaultOrderBy
  rowsPerPage=3
  _class='my-table'
  onParamChanged=(action 'onParamChanged')
  loading=loading
  onDataLoad=(route-action 'onLoadBooks') as |table|}}
  {{#each table.tableData as |book|}}
    <tr>
      <td>{{book.title}}</td>
      <td>{{book.pages}}</td>
      <td>{{book.price}}</td>
    </tr>
  {{/each}}
{{/av-table}}
